<p>
    &raquo; <a href="https://apps.apple.com/us/app/apatris-mobile-wallet/id1454765749" target="_blank" rel="noreferrer nofollow">Apatris</a> - Mobile cryptocurrency wallet with the functionality of deposit, exchange and purchase
</p>
<p>
    &raquo; <a href="https://youtu.be/2mH1rgIabiw" target="_blank" rel="noreferrer nofollow">Last Pixel</a> - Decentralized Ethereum Blockchain Game
</p>

<p>
    &raquo; <a href="https://shtuki.pro/" target="_blank" rel="noreferrer nofollow">Штуки</a> - Handicrafts Online Store
</p>
<p>
    &raquo; <a href="https://kuhni-lebedi.ru/" target="_blank" rel="noreferrer nofollow">Кухни-лебеди</a> - CRM for a distributed cabinet furniture company
</p>

<small>and more than 30 completed projects</small>