<p>I work as a web developer more than 10 years.</p>

<p> I am always in progress, improving my knowledge, using the most efficient program and design methods and using
    up-to-date tools.
</p>

<p> Conference participant:
    <a href="https://techweek.moscow/" target="_blank" rel="noreferrer nofollow">Russian blockchain week 2018</a>,
    <a href="https://2016.codefest.ru/" target="_blank" rel="noreferrer nofollow">CodeFest 2016</a>,
    <a href="http://secon.ru/" target="_blank" rel="noreferrer nofollow">SECON 2013-2020</a>,
    <a href="https://rubyrussia.club/" target="_blank" rel="noreferrer nofollow">Rails Club 2016</a>.
</p>
