<p>
    &raquo; <a href="https://apps.apple.com/us/app/apatris-mobile-wallet/id1454765749" target="_blank" rel="noreferrer nofollow">Apatris</a> - Мобильный криптовалютный кошелек, с функциональностью депозита, обмена и покупки
</p>
<p>
    &raquo; <a href="https://youtu.be/2mH1rgIabiw" target="_blank" rel="noreferrer nofollow">Last Pixel</a> - Децентрализованная игра на блокчейне Ethereum
</p>

<p>
    &raquo; <a href="https://shtuki.pro/" target="_blank" rel="noreferrer nofollow">Штуки</a> - Интернет-магазин изделий ручной работы
</p>
<p>
    &raquo; <a href="https://kuhni-lebedi.ru/" target="_blank" rel="noreferrer nofollow">Кухни-лебеди</a> - CRM для распределенной компании - производителя корпусной мебели
</p>

<small>и еще более 30 реализованных проектов</small>